*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  font-family: 'Roboto',sans-serif;
  scroll-behavior: smooth ;
  }
  
  body{
  width: 100%;
  height: auto;
  
  }
  
  
  h1{
  line-height: 1.5;
  }
h1>span{
color: white;

}
  .header-title{
  justify-content: center;
  color: #ffffff;
  position: absolute;
  letter-spacing: 3;
  font-weight: bolder;
  font-size: 38px;
  
  justify-items: center;
  
  top: 50%; 
  left: 50%;
  transform: translate(-50%, -50%); /* Déplacer le conteneur de moitié de sa propre taille */
  
  background-color: rgba(63, 95, 106, 0.276);
  border-radius: 40px;
  
  text-align: center;
  }
  
  .header-title > span{
  color: #c5eae5;
  }
  
  .espace-wrap {
   display: flex;
   justify-content: center;
   
   height: 100vh;
  }
  .espace-card{
   height: 100%;
   padding: 0.5;
   text-align: center;
   
  }
  
  .espace-button {
   width: 30em;
   padding: 2vw 4vw;
   background-color: #445e6ee3;
   color: #fff;
   border: none;
   cursor: pointer;
   border-radius: 8px;
   transition: transform 0.2s ease; 
   margin: 10px; 
  }
  .espace-button:hover{
  background-color: #344142e0;
  transform: scale(1.1);
  }
  
  
  .join{
  
   width: 100%;
   height: 350px;
   background-image:url('imgs/bg-pic2.jpg') ;
   background-position: center;
   background-repeat: no-repeat;
   background-size: cover;
   color: #eaeaea;
  
   display: flex;
   flex-wrap: wrap;
   justify-content: space-between;
   padding: 1rem 3rem;
   align-items: center;
   position: relative;
  }
  
  .join::before{
   content: "";
   position: absolute;
   top: 0;
   left: 0;
   right: 0;
   bottom: 0;
   background: linear-gradient(180deg,rgba(0,85,177,0.6) 0%,rgba(0,122,255,0.5) 100%,
   linear-gradient(180deg,rgba(0,122,255,0.65) 0%,transparent 100%));
   z-index: 1;
  
  }
  
  .join-detail {
   min-width: 280px;
   width: 50%;
   z-index: 2;
   margin-bottom: 1rem;
  }
  
  .join-detail > h1{
   font-size: 36px;
   letter-spacing: 3;
  }
  
  .subscribe{
   width: 200px;
   padding: 15px;
   border: none;
   color: #ffffff;
   border-radius: 5px;
   cursor: pointer;
   background-color: #004f58;
   transition: transform 0.2s ease; 
  
  z-index: 2;
  }
  .subscribe:hover{
   background: transparent;
   background: transparent;
   transform: scale(1.1);
   }
  
  /*offers section*/
  
  .offers{
   width: 100%;
   height: auto;
   text-align: center;
   padding: 5rem 1rem;
   color: #003060;
   font-size: 1.5rem;
  }
  .offers-wrap{
   display: flex;
   flex-wrap: wrap;
   justify-content: center;
   width: 100%;
   padding: 1rem;
  }
  .offers-card{
   width: 300px;
   height: auto;
   margin: 1rem;
  
   border-radius: 10px;
   
   box-shadow: 0 1px 6px 0 #929c9c;
   cursor: pointer;
  
  }
  .offers-img{
   width: 100%;
   height: 150px;
   object-fit: cover;
  }
  
  .offers-detail{
   padding: 20px;
  }
  .offers-detail span{
   color: #2a6680;
   font-size: 0.7rem;
  }
  .offers-detail h4{
   padding: 10px 0;
  }
  .divider{
   margin: 1rem 0;
   border: 0.5ppx solid #141d1e;
  
  }
  
  .offers-more{
   color: #1b4b3f;
   text-decoration: none;
   font-size: 0.9rem;
  }
  .offers-more:hover{
   text-decoration: underline;
  }
  
  .offers-card:hover{
   box-shadow: #1f1e1d;
   
  }
  /*companies section*/
  
  .companies{
    width: 100%;
    height: auto;
    text-align: center;
    padding: 5rem 1rem;
    color: #003060;
    font-size: 1.5rem;
   }
   .companies-wrap{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    padding: 1rem;
   }
   .companies-card{
    width: 300px;
    height: auto;
    margin: 1rem;
   
    border-radius: 10px;
    
    box-shadow: 0 1px 6px 0 #929c9c;
    cursor: pointer;
   
   }
   .companies-img{
    width: 100%;
    height: 150px;
    object-fit: cover;
   }
   
   .companies-detail{
    padding: 20px;
   }
   .companies-detail span{
    color: #2a6680;
    font-size: 0.7rem;
   }
   .companies-detail h4{
    padding: 10px 0;
   }
   .divider{
    margin: 1rem 0;
    border: 0.5ppx solid #141d1e;
   
   }
   
   .companies-more{
    color: #1b4b3f;
    text-decoration: none;
    font-size: 0.9rem;
   }
   .companies-more:hover{
    text-decoration: underline;
   }
   
   .companies-card:hover{
    box-shadow: #1f1e1d;
    
   }
   
  
  
  footer{
   width: 100%;
   display: flex;
   flex-wrap: wrap;
   justify-content: space-between;
   align-items: flex-start;
   background: #708090;
   color: #F5F5F5;
   padding: 2rem;
  }
  
  .footer-wrap{
   display: flex;
  flex-direction: column;
  padding: 0.5rem;
  justify-content: flex-start;
  align-items:  flex-start;
  }
  
  .footer-wrap h3, .footer-wrap h4{
  line-height: 3;
  color: #00344a;
  }
  
  .footer-wrap p{
   color: #ffffff;
   max-width: 400px;
   line-height: 1.5;
  }
  
  .footer-wrap a{
  color: #06407a;
  text-decoration: none;
  
  line-height: 1.5;
  }
  .footer-wrap a:hover{
   color: #1364b5;
   text-decoration: underline;
   }
  
  
  .social-media{
   margin-top: 1rem;
  }
  .social-media a{
   text-decoration: none;
   margin-top: 1rem;
   margin-right: 20px;
  }
  
  .social-media .ytp{
   text-decoration: none;
   color: #ba2908;
  }
  .social-media .linkd{
   text-decoration: none;
   color: #102da1;
  }
  .social-media .inst{
   text-decoration: none;
   color: #714242;
  }
  .social-media .twit{
   text-decoration: none;
   color: #305aad;
  }
  
  /*navbar */
  
  .sidebar{
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    width: 80px;
    background-color: #284758b5;
    padding: 0.4rem 0.8rem;
    transition: all 0.5s ease;
  }
  .sidebar.active ~.main-content{
   left: 250px;
   width: calc(100% - 250px);
  }
  .sidebar.active{
  width: 250px;
  }
  .sidebar #btn{
   position:absolute;
   color: white;
   top: .4rem;
   left: 50%;
   font-size: 1.2rem;
   line-height: 50px;
   transform: translateX(-50%);
   cursor: pointer;
  }
  .sidebar.active #btn{
   left:90%;
  }
  .sidebar .top .logo{
   color: white;
   display: flex;
   height: 50px;
   width: 100%;
   align-items: center;
   pointer-events: none;
   opacity: 0;
  }
  .sidebar.active .top .logo{
  opacity: 1;
  }
  
  .top .logo i {
   font-size: 2rem;
   margin-right: 8px;
  }
  .sidebar ul li{
  position: relative;
  list-style-type: none;
  height: 50px;
  width: 90%;
  margin: 0.8rem auto;
  line-height: 50px;
  }
  .sidebar ul li a {
  color: white;
  display: flex;
  align-items: center;
  text-decoration: none;
  border-radius: 0.8rem;
  }
  .sidebar ul li a:hover{
  background-color: #979797;
  color: #153935;
  }
  .sidebar ul li a i{
  min-width: 50px;
  text-align: center;
  height: 50px;
  border-radius: 12px;
  line-height: 50px;
  }
  .sidebar .nav-item{
  opacity: 0;
  }
  .sidebar.active .nav-item{
    opacity: 1;
  }
  .sidebar ul li .tooltip{
    color: rgb(138, 138, 138);
   position: absolute;
   left: 125px;
   top: 50%;
   transform: translate(-50%,-50%);
   box-shadow: 0 0.5rem 0.8rem rgba(223, 223, 213, 0.2);
   border-radius: 5px;
   padding: 0.4rem 1.2rem;
   line-height: 1.8rem;
   z-index: 20;
   opacity: 0;
  }
  .sidebar ul li:hover .tooltip{
  opacity: 0.9;
  }
  .sidebar.active ul li:hover .tooltip{
  display: none;
  }
  .main-content{
  position: relative;
  background-color: #eee;
  min-height: 100vh;
  top: 0;
  left: 80px;
  transition: all 0.5s ease;
  width: calc(100% - 80px);
  padding: 1rem;
  background:no-repeat;  

  background-image: url('imgs/piic6.jpg');
  background-size: 100% 100%;
}
  .container{
    display: flex;
    justify-content: space-between;
    color: #15354dea;
  }
  

/*arrow up*/

.btn.active
{
  position: fixed;
  right: 20px;
  bottom: 20px;
  z-index: 1000;
  color: rgb(26, 84, 88);
  width: 0;
  height: 0;
  background-color: transparent;
  border-color:  transparent transparent rgb(25, 72, 69) transparent;
  border-width:20px;
  transition: all 0.9s linear;
 
  animation-name: movingup;
  animation-duration: 2s;
  animation-timing-function: ease-in-out;
  animation-direction: alternate;
  animation-iteration-count: infinite;
  cursor: pointer;
}
@keyframes movingup
{
  0%{
      transform: translateY(5px);
      -webkit-transform: translateY(5px);
      -moz-transform: translateY(5px);
      -ms-transform: translateY(5px);
      -o-transform: translateY(5px);
      border-color: transparent transparent rgb(18, 81, 77);
}
      100%{
          border-color: transparent transparent rgb(231, 241, 239);
           transform:translateY(-10px) ; -webkit-transform:translateY(-10px) ; -moz-transform:translateY(-10px) ; -ms-transform:translateY(-10px) ; -o-transform:translateY(-10px) ;
}

}

